<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commenting Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="container mt-5">
    <h1>Add your comment</h1>
    <form th:action="@{'/blog/'+${post.id}+'/comment'}" method="post">
        <textarea type="text" name="commentText" placeholder="Your comment here" class="form-control " style="resize: none"></textarea><br>
        <button type="submit" class="btn btn-success">Comment</button>
    </form>
</div>

</body>
</html>